<div class="notifications">
    <div class="notification warning">
      <h4>Your product is delayed due to some technical issue</h4>
    </div>
    <div class="notification success">
      <h5>Your order has been placed successfully. Thank you for shopping with us!</h5>
    </div>
    <div class="notification error">
      <h5>Incorrect username or password. Please try again.</h5>
    </div>
    <div class="notification info">
      <h5>The website is undergoing scheduled maintenance. We apologize for the inconvenience.</h5>
    </div>
  </div>
  